# build output
*.o
abook

# editor backups
*~

# autoconf / automake artifacts (not used anymore)
.deps/
autom4te.cache/
abook.spec
config.log
config.status
config.cache
stamp-h1
intl/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
po/*.gmo
po/stamp-po
